@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.input-group{
    @include flex-row-center;
    width: 100%;
    margin-bottom: $spacing-md;
    position: relative;
    
    label{
        width: 5vw;
        @include min-max-width(50px, 100px);
        text-align: right;
        margin-right: $spacing-md;
    }
    
    input{
        flex: 1;
        @include min-max-width(100px, 100%);
        margin-right: $spacing-md;
        border-radius: $border-radius-base;
        border: 1px solid $color-border;
        padding: $spacing-sm;
        transition: $transition-speed-base;
        &:focus{
            border-color: $color-primary;
            outline: none;
        }
        
        &.input-error {
            border-color: $color-error;
        }
    }
}